/* Estilos generales */
body {
      font-family: lato, sans-serif;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      min-height: 100vh; 
      background: #e0e0e0;
    }

/* Estilo del formulario */
.formulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 8px;
 

}

h2 {
  text-align: center;
  background: #fff;
  border-radius: 8px;
  padding: 5px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.5);

}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 15px;
  margin-bottom: 16px;
  border-radius: 8px;
  border:none;
  outline: none;
}

button {
  padding: 10px;
  background-color: #e03f37;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #d2807c;
}

#reset-button {
  margin-left: 0; /* Ajuste para dispositivos móviles */
  margin-top: 8px; /* Espaciado superior para dispositivos móviles */
  background-color: #e43a3d;
}

#reset-button:hover {
  background-color: #d2807c;
}

/* Estilo de la sección de Tasa y Fecha */
p {
  text-align: center;
}

.post-meta {
  text-align: center;
  margin-top: -10px;
}

/* Estilo del resultado */
#result {
  font-weight: bold;
  color: white;
  background: #199a28;
  font-size: 24px;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 600px) {
  .formulario {
    padding: 10px;
  }

  button {
    margin-left: 0; /* Ajuste de margen para dispositivos móviles */
  }
}

.cambiar-btn a {

text-decoration: none;
color: #333333;
text-align: center;
background: #cdb724;
padding: 5px;
margin: 5px;
border-radius: 8px;
font-size: 18px;
cursor: pointer;



}

.cambiar-btn a:hover{

background: #91821d;

}

/* Footer */
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.fixed-footer p {
    margin: 0;
    padding: 0 20px;
    font-weight: 500;
}

.fixed-footer a {
color: yellow;
cursor: pointer;
text-decoration: none;
}

.fixed-footer a:hover {
color: #fff;

}

/* Responsive Styles */
@media (max-width: 576px) {
    .fixed-footer {
        font-size: 12px;
        padding: 8px 0;
    }
}